.table-view {
    -fx-background-color: #EBECF0;


}
/*HEADER */
.table-view .column-header{
    -fx-background-color: transparent;    /* made transparent */
    -fx-size: 45.0px;
    -fx-min-height: 45.0px;
    -fx-cursor: hand;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-padding: 5.0 5.0 5.0 5.0;
}
.table-view .filler{
    -fx-background-radius: 10.0 10.0 10.0 10.0;
    -fx-background-color: transparent;    /* made transparent */
    -fx-size: 45.0px;
    -fx-min-height: 45.0px;
}
.table-view .show-hide-columns-button{
    -fx-background-color: #cc33ff;
}
.table-view .column-drag-header{
    -fx-background-color: #cc33ff;
    -fx-cursor: h-resize;
}
.table-view .column-resize-line{
    -fx-background-color: white;
    -fx-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1;
}
.table-view .column-header .sort-order{
    -fx-fill: white;
}
.table-view .placeholder{
    -fx-background-color: #EBECF0;
    -fx-background-radius: 10.0 10.0 10.0 10.0;
}

.table-view .virtualflow{
    -fx-background-color: white;
}
/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
   number of table-cell. */
.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0.0;
    -fx-padding: 10.0 0.0 10.0 0.0;
    -fx-effect: dropshadow(three-pass-box, rgba(195, 203, 219, 0.3), 10, 0.0, 6.0, 6.0);
    -fx-pref-height: 45.0px;
}
.table-row-cell:filled:even{
    -fx-background-color: #EBECF0;
}
.table-row-cell:filled:odd{
    -fx-background-color: #F6F7F8;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: cc33ff;
}
.table-view:row-selection .table-row-cell:filled:hover .text{
    -fx-fill: white;
}
.table-row-cell:filled:focused {
    -fx-background-color: #EBECF0;
    -fx-background-insets: 0.0;
}
.table-row-cell:filled:focused .text{
}
.table-row-cell .table-column{
    -fx-border-width: 0.0;
    -fx-padding: 0.0 0.0 0.0 5.0;
}

/*SCROLL BAR VERTICALE */
.table-view .scroll-bar:vertical{
    -fx-padding: 0.0 0.0 0.0 0.0;
}
/*SCROLL BAR ORIZZONTALE */
.table-view .scroll-bar:horizontal {
    -fx-padding: 0.0 0.0 0.0 0.0;
}
/* I ADDED THIS */
.table-view .column-header-background {
    -fx-background-radius: 15.0 15.0 0.0 0.0;
    -fx-background-color: #cc33ff;

}

.check-box .mark {
    -fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004 l0.003,0.004L14.596,2.055z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}



.check-box .box{
    -fx-outer-border: #cadbec;
    -fx-body-color: #cc33ff;
    -fx-background-color:
            -fx-outer-border,
            -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2px, 0px;}


.check-box:selected .mark {
    -fx-background-color: white ;}